<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.masslany.awesomearkanoid"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="17"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
                android:name="pl.masslany.awesomearkanoid.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
         <activity
                android:name="pl.masslany.awesomearkanoid.Gui.MainScreen"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="pl.masslany.awesomearkanoid.Gui.About"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar.MinWidth"
                android:noHistory="true">
        </activity>
        <activity
                android:name="pl.masslany.awesomearkanoid.Gui.Settings"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="pl.masslany.awesomearkanoid.Game.Game"
                android:screenOrientation="portrait"
                android:noHistory="true">
        </activity>
        <activity
                android:name="pl.masslany.awesomearkanoid.Gui.LevelPicker"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="pl.masslany.awesomearkanoid.Gui.GameLost"
                android:screenOrientation="portrait"
                android:noHistory="true">
        </activity>
        <activity
                android:name="pl.masslany.awesomearkanoid.Gui.GameWon"
                android:screenOrientation="portrait"
                android:noHistory="true">
        </activity>
    </application>

</manifest>